<div id="contents" class="main-container">
  <app-ad-banner></app-ad-banner>

  <div class="signup-wrapper">
    <h2 class="heading-title">{{ title }}</h2>
    <p-divider></p-divider>
  </div>
  <div class="signup-content-wrapper">
    <h3 class="title">Personal Details</h3>
    <div class="grid">
      <div class="col-12 md:col-3 lg:col-3">
        <p>
          {{ registerFormFields.firstName }}
          <span class="required">*</span>
        </p>
      </div>
      <div class="col-12 md:col-9 lg:col-9">
        <input
          class="textbox"
          type="text"
          [placeholder]="registerFormFields.firstName"
          [(ngModel)]="user.first_name"
        />
      </div>
    </div>
    <div class="grid">
      <div class="col-12 md:col-3 lg:col-3">
        <p>
          {{ registerFormFields.lastName }}
          <span class="required">*</span>
        </p>
      </div>
      <div class="col-12 md:col-9 lg:col-9">
        <input
          class="textbox"
          type="text"
          [placeholder]="registerFormFields.lastName"
          [(ngModel)]="user.last_name"
        />
      </div>
    </div>
    <div class="grid">
      <div class="col-12 md:col-3 lg:col-3">
        <p>{{ registerFormFields.email }} <span class="required">*</span></p>
      </div>
      <div class="col-12 md:col-9 lg:col-9">
        <input
          class="textbox"
          type="text"
          [placeholder]="registerFormFields.email"
          [(ngModel)]="user.email"
          (blur)="ValidateEmail()"
        />
        <p *ngIf="emailValidation" class="error">Email is invalid</p>
      </div>
    </div>
    <div class="grid">
      <div class="col-12 md:col-3 lg:col-3">
        <p>
          {{ registerFormFields.contactNo }}
          <span class="required">*</span>
        </p>
      </div>
      <div class="col-12 md:col-9 lg:col-9">
        <input
          class="textbox"
          type="text"
          [placeholder]="registerFormFields.contactNo"
          [(ngModel)]="user.contact"
          (keypress)="numberOnly($event)"
        />
      </div>
    </div>

    <h3 class="title">Password</h3>

    <div class="grid">
      <div class="col-12 md:col-3 lg:col-3">
        <p>
          {{ registerFormFields.password }}
          <span class="required">*</span>
        </p>
      </div>
      <div class="col-12 md:col-9 lg:col-9">
        <input
          class="textbox"
          type="password"
          [placeholder]="registerFormFields.password"
          [(ngModel)]="user.password"
        />
      </div>
    </div>
    <div class="grid">
      <div class="col-12 md:col-3 lg:col-3">
        <p>
          {{ registerFormFields.confirmPassword }}
          <span class="required">*</span>
        </p>
      </div>
      <div class="col-12 md:col-9 lg:col-9">
        <input
          class="textbox"
          type="password"
          [placeholder]="registerFormFields.confirmPassword"
          [(ngModel)]="user.password_confirmation"
          (blur)="comparePassword()"
        />
        <p *ngIf="passwordValidation" class="error">Passwords do not match</p>
      </div>
    </div>
    <h3 class="title">Newsletter</h3>
    <div class="grid">
      <div class="col-12 md:col-3 lg:col-3">
        <p>
          {{ registerFormFields.subscribeNewsLetter }}
        </p>
      </div>
      <div class="col-12 md:col-9 lg:col-9">
        <div class="radio-wrapper">
          <!-- <div> -->
          <input type="radio" id="yes" name="newsletter" value="Yes" />
          <label for="yes" class="mr-5 ml-2">Yes</label>
          <!-- </div>
          <div> -->
          <input type="radio" id="no" name="newsletter" value="No" />
          <label for="no" class="ml-2">No</label>
          <!-- </div> -->
        </div>
      </div>
    </div>
    <div class="grid mt-3">
      <div class="col-12 md:col-12 lg:col-12">
        <div style="display: flex">
          <input type="checkbox" id="read" style="margin-right: 10px" />
          <label for="read" style="font-size: 12px">
            I have read and agree to the Terms & Condition.</label
          >
        </div>
      </div>
    </div>

    <div>
      <app-input-button
        (click)="SignUp()"
        buttonText="Register"
      ></app-input-button>
    </div>
  </div>
</div>
