<div class="main-container">
  <app-ad-banner></app-ad-banner>

  <div class="signup-wrapper">
    <h2 class="heading-title">Add Address</h2>
    <p-divider></p-divider>
  </div>
  <div class="signup-content-wrapper">
    <div class="grid">
      <div class="col-12 md:col-3 lg:col-3">
        <p>First Name <span class="required">*</span> </p>
      </div>
      <div class="col-12 md:col-9 lg:col-9">
        <app-input-textbox type="text" placeholder="First Name"></app-input-textbox>
      </div>
    </div>
    <div class="grid">
      <div class="col-12 md:col-3 lg:col-3">
        <p>Last Name <span class="required">*</span></p>
      </div>
      <div class="col-12 md:col-9 lg:col-9">
        <app-input-textbox type="text" placeholder="Last Name"></app-input-textbox>
      </div>
    </div>

    <div class="grid">
      <div class="col-12 md:col-3 lg:col-3">
        <p>Company </p>
      </div>
      <div class="col-12 md:col-9 lg:col-9">
        <app-input-textbox type="text" placeholder="Company"></app-input-textbox>
      </div>
    </div>

    <div class="grid">
      <div class="col-12 md:col-3 lg:col-3">
        <p>Address 1 <span class="required">*</span></p>
      </div>
      <div class="col-12 md:col-9 lg:col-9">
        <app-input-textbox type="text" placeholder="Address 1"></app-input-textbox>
      </div>
    </div>

    <div class="grid">
      <div class="col-12 md:col-3 lg:col-3">
        <p>Address 2</p>
      </div>
      <div class="col-12 md:col-9 lg:col-9">
        <app-input-textbox type="text" placeholder="Address 2"></app-input-textbox>
      </div>
    </div>

    <div class="grid">
      <div class="col-12 md:col-3 lg:col-3">
        <p>City <span class="required">*</span></p>
      </div>
      <div class="col-12 md:col-9 lg:col-9">
        <app-input-textbox type="text" placeholder="City"></app-input-textbox>
      </div>
    </div>

    <div class="grid">
      <div class="col-12 md:col-3 lg:col-3">
        <p>Postal Code </p>
      </div>
      <div class="col-12 md:col-9 lg:col-9">
        <app-input-textbox type="text" placeholder="Postal Code"></app-input-textbox>
      </div>
    </div>

    <div class="grid">
      <div class="col-12 md:col-3 lg:col-3">
        <p>Country <span class="required">*</span></p>
      </div>
      <div class="col-12 md:col-9 lg:col-9">
        <select>
          <option value="Select">--- Select ---</option>
          <option value="pak">Pakistan</option>
        </select>
      </div>
    </div>

    <div class="grid">
      <div class="col-12 md:col-3 lg:col-3">
        <p>State/Region <span class="required">*</span></p>
      </div>
      <div class="col-12 md:col-9 lg:col-9">
        <select>
          <option value="Select">--- Select ---</option>
          <option value="pak">Punjab</option>
          <option value="pak">Sindh</option>
        </select>
      </div>
    </div>

    <div class="grid mt-3">
      <div class="col-12 md:col-3 lg:col-3">
        <p>Default Address</p>
      </div>
      <div class="col-12 md:col-9 lg:col-9">
        <div class="radio-wrapper">
          <input type="radio" id="yes" name="newsletter" value="Yes">
          <label for="yes" class="mr-5 ml-2">Yes</label>
          <input type="radio" id="no" name="newsletter" value="No">
          <label for="no" class="ml-2">No</label>
        </div>
      </div>
    </div>

    <div>
      <app-input-button buttonText="Continue"></app-input-button>
    </div>
  </div>
</div>