<div class="main-container">
  <app-ad-banner></app-ad-banner>

  <div class="back">
    <a [routerLink]="['/profile']"><i class="pi pi-arrow-left"></i> Go Back</a>
  </div>
  
  <div class="signup-wrapper">
    <h2 class="heading-title">Change Password</h2>
    <p-divider></p-divider>
  </div>
  <div class="signup-content-wrapper">
    
    <div class="grid">
      <div class="col-12 md:col-3 lg:col-3">
        <p>
          Password
          <span class="required">*</span>
        </p>
      </div>
      <div class="col-12 md:col-9 lg:col-9">
        <app-input-textbox type="password" placeholder="Password"></app-input-textbox>
      </div>
    </div>
    <div class="grid">
      <div class="col-12 md:col-3 lg:col-3">
        <p>
          Confirm Password
          <span class="required">*</span>
        </p>
      </div>
      <div class="col-12 md:col-9 lg:col-9">
        <app-input-textbox type="password" placeholder="Confirm Password"></app-input-textbox>
      </div>
    </div>

    <div>
      <a class="btn-change" href="javascript:void(0)">Change Password</a>
    </div>
  </div>
</div>