<div id="wrap">
  <div id="container">
    <div id="contents">
      <app-ad-banner></app-ad-banner>

      <div class="contactusWrap">
        <div class="content0">
          <h2>{{ title.toUpperCase() }}</h2>
        </div>
        <p-divider></p-divider>
      </div>

      <div class="card">
        <p-dataView [value]="products" layout="grid">
          <ng-template pTemplate="header">
            <div class="flex flex-column md:flex-row md:justify-content-between"></div>
          </ng-template>
          <ng-template let-product pTemplate="gridItem" class="parent">
            <app-product-card
              class="child"
              [name]="product.name"
              [slug]="product.slug"
              [price]="product.price"
              [discount_price]="product.discount_price"
              [image]="product.image"
            ></app-product-card>
          </ng-template>
        </p-dataView>
      </div>
    </div>
  </div>
</div>
