.p-card .p-card-content {
    display: grid !important;
}
.flex-display {
    display: flex;
    margin: 20px 0;
}
.titleArea {
    text-align: center;
    margin: 20px 0 40px;
}
.titleArea h2 {
    color: #3b3b3b;
    font-size: 26px;
    font-weight: 500;
    line-height: 1.1;
    font-family: 'Montserrat','Arial';
}

.checkbox {
    width: 16px;
    height: 16px;
    margin-right: 3px;
    vertical-align: -3px;
}
.div-container {
    color: #868686;
    font-size: 14px;
    font-weight: 300;
    margin: 0 35%;
}

.flex-right {
    flex: 50%;
}
.forget-pwd {
    color: #797979;
    font-size: 17px;
    font-weight: 300;
}
a, a:hover {
    text-decoration: none;
}
.sign-up {
    position: static;
    width: 100%;
    height: 60px;
    line-height: 60px;
    font-weight: 500;
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    color: #333333;
    font-size: 16px;
    border: 1px solid #333333;
    background: #fff;
    margin-top: 20px;
}
.facebook_login {
    width: 100%;
}
.m-btm-20 {
    margin-bottom: 20px;
}