<div class="col-12">
  <div class="infoArea">
    <div class="headingArea">
      <h2 class="product-heading">{{ productDetail.name }}</h2>
      <div style="width: 20%; display: flex">
        <img
          [alt]="productDetail.brand.country_name"
          [src]="productDetail.brand.country_flag"
          style="max-width: 50%"
        />
        <p style="font-size: 18px; margin: auto">
          {{ productDetail.brand.country_code.toUpperCase() }}
        </p>
      </div>
    </div>

    <div>
      <table class="prd-tb">
        <tbody>
          <tr class="prd_brand_css xans-record-">
            <th scope="row">
              <span style="font-size: 14px; color: #555555">Brand</span>
            </th>
            <td>
              <span style="font-size: 14px; color: #555555">
                <a
                  style="color: #f54a7e"
                  [routerLink]="'/brand/' + productDetail.brand.slug"
                  >{{ productDetail.brand.name }}</a
                >
              </span>
            </td>
          </tr>
          <tr class="product_price_css xans-record-">
            <th scope="row">
              <span style="font-size: 14px; color: #555555; font-weight: bold"
                >Price</span
              >
            </th>
            <td>
              <span style="font-size: 14px; color: #555555; font-weight: bold">
                <strong
                  [style.text-decoration]="
                    !productDetail.discount_price ? 'initial' : 'line-through'
                  "
                  >{{ currency + " " + productDetail.price }}</strong
                >
              </span>
            </td>
          </tr>
          <tr
            *ngIf="productDetail.discount_price"
            class="prd_price_sale_css xans-record-"
          >
            <th scope="row">
              <span style="font-size: 14px; color: #323232"
                >Discounted Price</span
              >
            </th>
            <td>
              <span>
                <span style="font-size: 14px; color: #323232">
                  <span id="span_product_price_sale"
                    >{{ currency + " " + productDetail.discount_price }}
                    <span style="font-size: 14px; color: #555555"
                      >({{ currency }}
                      {{
                        +productDetail.price - +productDetail.discount_price
                          | number : "1.2-2"
                      }}
                      discount)</span
                    >
                  </span>
                </span>
              </span>
            </td>
          </tr>
          <tr class="simple_desc_css xans-record-">
            <th scope="row" style="vertical-align: top">
              <span style="font-size: 14px; color: #555555">Variants</span>
            </th>
            <td>
              <div class="variant-wrapper">
                <div
                  *ngFor="
                    let productVariantOption of this.productVariants | keyvalue
                  "
                  class="single-variant"
                >
                  <label class="prod-variant-name">{{
                    productVariantOption.key
                  }}</label>
                  <div class="prod-variant-content-wrap">
                    <div
                      *ngFor="
                        let productOption of productVariantOption.value;
                        index as productOptionIndex
                      "
                      class="productVariant"
                    >
                      <p class="option-name">
                        {{ productOption.optionValue.name }}
                      </p>
                      <!-- <p-toggleButton

                    [ngModel]="checkedOptions[productOptionIndex]"
                    [offLabel]="productOption.productOptions.optionValue.name"
                    [onLabel]="productOption.productOptions.optionValue.name"
                  ></p-toggleButton> -->
                      <img
                        (click)="toggleProductOptionSelection(productOption)"
                        [src]="productOption.optionValue.image"
                        class="product-variant-images"
                        (click)="updateCss($event)"
                        [alt]="productDetail.name"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </td>
          </tr>
          <tr class="prd_price_sale_css xans-record-">
            <th scope="row">
              <span style="font-size: 14px; color: #323232">Tags</span>
            </th>
            <td>
              <div class="tag-links-wrapper">
                <a
                  class="tag-link"
                  *ngFor="let productTags of productDetail.tags"
                  [routerLink]="'/tag/' + productTags.slug"
                  >{{ productTags.name }}</a
                >
              </div>
            </td>
          </tr>
        </tbody>
      </table>

      <p-divider></p-divider>
    </div>

    <div class="prod-static-content">
      <p class="p1">
        (Minimum Order : {{ productDetail.min_order_quantity }} or more )
      </p>
      <p class="p2">
        Free Shipping : On Bill above $ 3,000 (else $ 200)
        <span>(Not applicable for discounted items)</span>
      </p>
      <img alt="gifts" class="gifts-img" src="../../../assets/free-gifts.jpg" />

      <p class="p3">
        Services:
        <img
          alt="pink"
          class="custom_features_image"
          src="../../../assets/icons/checkbox-pink.jpg"
        />
        Delivery 2-3 working days

        <img
          alt="pink"
          class="custom_features_image"
          src="../../../assets/icons/checkbox-pink.jpg"
          style="margin-left: 10px"
        />
        Original Guaranteed
      </p>
    </div>

    <div class="product-btn-wrap">
      <span class="quantity">
        <input
          (ngModelChange)="updateTotalPrice(selectedQuantity)"
          [(ngModel)]="selectedQuantity"
          id="quantity"
          name="quantity_opt[]"
          type="number"
        />
        <a
          class="up QuantityUp"
          href="javascript:void(0)"
          (click)="quantityUp()"
        >
          <img
            alt="up"
            src="//img.echosting.cafe24.com/skin/base_en_US/product/btn_count_up.gif"
          />
        </a>
        <a
          class="down QuantityDown"
          href="javascript:void(0)"
          (click)="quantityDown()"
        >
          <img
            alt="down"
            src="//img.echosting.cafe24.com/skin/base_en_US/product/btn_count_down.gif"
          />
        </a>
      </span>
      <button class="btn add-to-cart-btn" (click)="AddtoCart(productDetail)">
        <img src="../assets/cart.png" alt="" /> Add to Cart
      </button>
      <button class="btn buy-now-btn">
        <img src="../assets/icons/buy.png" alt="" /> Buy Now
      </button>
      <!-- <app-input-button buttonText="Buy Now"></app-input-button> -->

      <button class="btn add-to-cart-btn">
        <img src="../assets/icons/wishlist.png" alt="" /> Add to Wishlist
      </button>
    </div>

    <div class="prod-price" id="totalPrice">
      <p class="prod-label">Price <small>(Quantity) </small>:</p>
      <p class="prod-value">
        <strong>{{ currency + " " + discountedTotalPrice }}</strong
        ><small>({{ selectedQuantity }} item(s))</small>
      </p>
    </div>
  </div>
</div>
