<div class="main-container" *ngIf="response; else loadingSpinner">
  <div *ngIf="productDetail" class="grid">
    <div class="col-12 md:col-12 lg:col-12">
      <app-ad-banner></app-ad-banner>
    </div>
    <div class="col-12 md:col-5 lg:col-5">
      <div class="keyImg">
        <div class="thumbnail">
          <lightgallery [settings]="settings" style="display: flex">
            <img
              [alt]="productDetail.name"
              [src]="productDetail.image"
              class="main-img-product"
            />
          </lightgallery>
        </div>
        <div class="secondary-img-wrapper">
          <img
            (click)="changeMainImage(secondaryImage, i)"
            *ngFor="
              let secondaryImage of productDetail.secondary_images;
              let i = index
            "
            [src]="secondaryImage"
            class="product-detail-images"
            [alt]="productDetail.name"
            [ngClass]="{ active: selectedIndex === i }"
          />
        </div>
      </div>
    </div>
    <div class="col-12 md:col-7 lg:col-7">
      <div class="infoArea">
        <div class="headingArea">
          <h2 class="product-heading">{{ productDetail.name }}</h2>
          <div style="width: 20%; display: flex">
            <img
              [alt]="productDetail.brand.country_name"
              [src]="productDetail.brand.country_flag"
              style="max-width: 50%"
            />
            <p style="font-size: 18px; margin: auto">
              {{ productDetail.brand.country_code.toUpperCase() }}
            </p>
          </div>
        </div>

        <div>
          <table class="prd-tb">
            <tbody>
              <tr class="prd_brand_css xans-record-">
                <th scope="row">
                  <span style="font-size: 14px; color: #555555">Brand</span>
                </th>
                <td>
                  <span style="font-size: 14px; color: #555555">
                    <a
                      style="color: #f54a7e"
                      [routerLink]="'/brand/' + productDetail.brand.slug"
                      >{{ productDetail.brand.name }}</a
                    >
                  </span>
                </td>
              </tr>
              <tr class="product_price_css xans-record-">
                <th scope="row">
                  <span
                    style="font-size: 14px; color: #555555; font-weight: bold"
                    >Price</span
                  >
                </th>
                <td>
                  <span
                    style="font-size: 14px; color: #555555; font-weight: bold"
                  >
                    <strong
                      [style.text-decoration]="
                        !productDetail.discount_price
                          ? 'initial'
                          : 'line-through'
                      "
                      >{{ currency + " " + productDetail.price }}</strong
                    >
                  </span>
                </td>
              </tr>
              <tr
                *ngIf="productDetail.discount_price"
                class="prd_price_sale_css xans-record-"
              >
                <th scope="row">
                  <span style="font-size: 14px; color: #323232"
                    >Discounted Price</span
                  >
                </th>
                <td>
                  <span>
                    <span style="font-size: 14px; color: #323232">
                      <span id="span_product_price_sale"
                        >{{ currency + " " + productDetail.discount_price }}
                        <span style="font-size: 14px; color: #555555"
                          >({{ currency }}
                          {{
                            +productDetail.price - +productDetail.discount_price
                          }}
                          discount)</span
                        >
                      </span>
                    </span>
                  </span>
                </td>
              </tr>
              <tr class="simple_desc_css xans-record-">
                <th scope="row" style="vertical-align: top">
                  <span style="font-size: 14px; color: #555555">Variants</span>
                </th>
                <td>
                  <div class="variant-wrapper">
                    <div
                      *ngFor="
                        let productVariantOption of this.productVariants
                          | keyvalue
                      "
                      class="single-variant"
                    >
                      <label class="prod-variant-name">{{
                        productVariantOption.key
                      }}</label>
                      <div class="prod-variant-content-wrap">
                        <div
                          *ngFor="
                            let productOption of productVariantOption.value;
                            index as productOptionIndex
                          "
                          class="productVariant"
                        >
                          <p class="option-name">
                            {{ productOption.optionValue.name }}
                          </p>
                          <!-- <p-toggleButton

                        [ngModel]="checkedOptions[productOptionIndex]"
                        [offLabel]="productOption.productOptions.optionValue.name"
                        [onLabel]="productOption.productOptions.optionValue.name"
                      ></p-toggleButton> -->
                          <img
                            (click)="
                              toggleProductOptionSelection(productOption)
                            "
                            [src]="productOption.optionValue.image"
                            class="product-variant-images"
                            [alt]="productDetail.name"
                            [ngClass]="{
                              active:
                                variantSelectedIndex === productOptionIndex
                            }"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr class="prd_price_sale_css xans-record-">
                <th scope="row">
                  <span style="font-size: 14px; color: #323232">Tags</span>
                </th>
                <td>
                  <div class="tag-links-wrapper">
                    <a
                      class="tag-link"
                      *ngFor="let productTags of productDetail.tags"
                      [routerLink]="'/tag/' + productTags.slug"
                      >{{ productTags.name }}</a
                    >
                  </div>
                </td>
              </tr>
            </tbody>
          </table>

          <p-divider></p-divider>
        </div>

        <div class="prod-static-content">
          <p class="p1">
            (Minimum Order : {{ productDetail.min_order_quantity }} or more )
          </p>
          <p class="p2">
            Free Shipping : On Bill above $ 3,000 (else $ 200)
            <span>(Not applicable for discounted items)</span>
          </p>
          <img
            alt="gifts"
            class="gifts-img"
            src="../../../assets/free-gifts.jpg"
          />

          <p class="p3">
            Services:
            <img
              alt="pink"
              class="custom_features_image"
              src="../../../assets/icons/checkbox-pink.jpg"
            />
            Delivery 2-3 working days

            <img
              alt="pink"
              class="custom_features_image"
              src="../../../assets/icons/checkbox-pink.jpg"
              style="margin-left: 10px"
            />
            Original Guaranteed
          </p>
        </div>

        <div class="product-btn-wrap">
          <span class="quantity">
            <input
              (ngModelChange)="updateTotalPrice(selectedQuantity)"
              [(ngModel)]="selectedQuantity"
              id="quantity"
              name="quantity_opt[]"
              type="number"
            />
            <a class="up QuantityUp" href="javascript:void(0)">
              <img
                (click)="quantityUp()"
                alt="up"
                src="//img.echosting.cafe24.com/skin/base_en_US/product/btn_count_up.gif"
              />
            </a>
            <a class="down QuantityDown" href="javascript:void(0)">
              <img
                (click)="quantityDown()"
                alt="down"
                src="//img.echosting.cafe24.com/skin/base_en_US/product/btn_count_down.gif"
              />
            </a>
          </span>
          <button class="btn add-to-cart-btn">
            <img src="../assets/cart.png" alt="" /> Add to Cart
          </button>
          <button class="btn buy-now-btn">
            <img src="../assets/icons/buy.png" alt="" /> Buy Now
          </button>
          <!-- <app-input-button buttonText="Buy Now"></app-input-button> -->

          <button class="btn add-to-cart-btn">
            <img src="../assets/icons/wishlist.png" alt="" /> Add to Wishlist
          </button>
        </div>

        <div class="prod-price" id="totalPrice">
          <p class="prod-label">Price <small>(Quantity) </small>:</p>
          <p class="prod-value">
            <strong>{{ currency + " " + discountedTotalPrice }}</strong
            ><small>({{ selectedQuantity }} item(s))</small>
          </p>
        </div>
      </div>
    </div>

    <div class="col-12 md:col-12 lg:col-12">
      <p-tabView styleClass="product-details-tab">
        <p-tabPanel header="Description">
          <div class="product-tab-content" [innerHTML]="description"></div>
        </p-tabPanel>
        <p-tabPanel header="Reviews">
          Revies goes here. Section to be developed
        </p-tabPanel>
        <p-tabPanel header="Related Products">
          <!-- Related products to be shown here. No related product for now. -->
          <div class="grid">
            <div
              *ngFor="let product of productDetail.relatedProducts"
              class="col-12 md:col-3"
            >
              <app-product-card
                [brandName]="productDetail.brand.name"
                [name]="product.name"
                [slug]="product.slug"
                [price]="product.price"
                [discount_price]="product.discount_price"
                [image]="product.image"
              ></app-product-card>
            </div>
          </div>
        </p-tabPanel>
      </p-tabView>
    </div>

    <p-dialog
      [(visible)]="display"
      [draggable]="false"
      class="web-view"
      position="bottom-left"
    >
      <app-product-description
        [productDetail]="productDetail"
        [selectedQuantity]="selectedQuantity"
        [totalPrice]="totalPrice"
        class="web-view"
      ></app-product-description>
    </p-dialog>
  </div>
</div>
<ng-template #loadingSpinner>
  <app-loading-spinner class="d-flex pt-4"></app-loading-spinner>
</ng-template>
