<div class="grid">
  <div class="col-12 md:col-12 lg:col-12">
    <app-ad-banner></app-ad-banner>
  </div>
  <div class="col-12 md:col-6 lg:col-6">
    <div class="keyImg">
      <div class="thumbnail">
        <img
          src="https://cafe24img.poxo.com/jolsejolse/web/product/big/202204/f6f589b0bb19b52a9d80bbdffa504c00.jpg"
          alt=""
        />
      </div>
    </div>
  </div>
  <div class="col-12 md:col-6 lg:col-6">
    <div class="infoArea">
      <div class="headingArea" style="display: flex">
        <div style="width: 80%">
          <h2>{{ productTitle }}</h2>
        </div>
        <div style="width: 20%">
          <img
            alt="United States"
            src="http://purecatamphetamine.github.io/country-flag-icons/3x2/{{
              country
            }}.svg"
            style="border: 1px solid black"
          />
        </div>
      </div>

      <div>
        <table summary="" class="prd-tb">
          <tbody>
            <tr class="prd_brand_css xans-record-">
              <th scope="row">
                <span style="font-size: 12px; color: #555555">Brand</span>
              </th>
              <td>
                <span style="font-size: 12px; color: #555555">{{ brand }}</span>
              </td>
            </tr>
            <tr class="product_price_css xans-record-">
              <th scope="row">
                <span style="font-size: 12px; color: #555555; font-weight: bold"
                  >Price</span
                >
              </th>
              <td>
                <span style="font-size: 12px; color: #555555; font-weight: bold"
                  ><strong
                    id="span_product_price_text"
                    style="text-decoration: line-through"
                    >{{ currencyUsed }} {{ floatPrice }}</strong
                  ><input
                    id="product_price"
                    name="product_price"
                    value=""
                    type="hidden"
                /></span>
              </td>
            </tr>
            <tr class="prd_price_sale_css xans-record-">
              <th scope="row">
                <span style="font-size: 12px; color: #323232"
                  >Discounted Price</span
                >
              </th>
              <td>
                <span
                  ><span style="font-size: 12px; color: #323232"
                    ><span id="span_product_price_sale"
                      >{{ currencyUsed }} {{ floatDiscountedPrice }}
                      <span style="font-size: 12px; color: #555555"
                        >({{ currencyUsed }}
                        {{ price - discountedPrice }} discount)</span
                      >
                    </span></span
                  ></span
                >
              </td>
            </tr>
            <tr class="simple_desc_css xans-record-">
              <th scope="row">
                <span style="font-size: 12px; color: #555555">Overview</span>
              </th>
              <td>
                <span style="font-size: 12px; color: #555555">{{
                  productDetail
                }}</span>
              </td>
            </tr>
            <tr class="simple_desc_css xans-record-">
              <th scope="row">
                <span style="font-size: 12px; color: #555555">Variants</span>
              </th>
              <td>
                <p-toggleButton
                  *ngFor="let item of skus"
                  [onLabel]="item.sku"
                  [offLabel]="item.sku"
                  [ngModel]="item.checked"
                  (ngModelChange)="checkSkuItemTrue(item)"
                ></p-toggleButton>
              </td>
            </tr>
          </tbody>
        </table>

        <p-divider></p-divider>
      </div>
      <div>
        <p class="info">
          (Minimum Order : 1 or more<span class="displaynone">
            / Maximum Order 0 or less</span
          >)
        </p>
      </div>
      <div id="totalProducts" class="">
        <p class="ec-base-help txtWarn txt11">Select quantity.</p>
        <p class="ec-base-help txtWarn txt11 displaynone">
          Product will be automatically added below when you select an option.
        </p>
        <table summary="">
          <caption class="displaynone">
            Product List
          </caption>
          <colgroup>
            <col style="width: auto" />
            <col style="width: 76px" />
            <col style="width: 150px" />
          </colgroup>
          <thead class="displaynone">
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Quantity</th>
              <th scope="col">Price</th>
            </tr>
          </thead>
          <tbody class="">
            <tr>
              <td>
                {{ productDetail }}
              </td>
              <td>
                <span class="quantity">
                  <input
                    id="quantity"
                    name="quantity_opt[]"
                    [(ngModel)]="selectedQuantity"
                    (ngModelChange)="updatePrice(selectedQuantity)"
                    type="number"
                  />
                  <a href="javascript:;" class="up QuantityUp"
                    ><img
                      src="//img.echosting.cafe24.com/skin/base_en_US/product/btn_count_up.gif"
                      alt="up"
                      (click)="quantityUp()"
                  /></a>
                  <a href="javascript:;" class="down QuantityDown"
                    ><img
                      src="//img.echosting.cafe24.com/skin/base_en_US/product/btn_count_down.gif"
                      alt="down"
                      (click)="quantityDown()"
                  /></a>
                </span>
              </td>
              <td class="right">
                <span class="quantity_price"></span>
                {{ currencyUsed }} {{ floatPrice
                }}<input
                  type="hidden"
                  name="option_box_price"
                  class="option_box_price"
                  value="{{ selectedQuantity }}"
                  item_code="P000DMBZ000A"
                />
                <span class="mileage displaynone" style="display: none"
                  ><img src="" /> &nbsp;<span class="mileage_price"
                    >0</span
                  ></span
                >
              </td>
            </tr>
            <tr
              id="totalProductsOption"
              class="xans-element- xans-product xans-product-option option xans-record-"
            >
              <!--
                    $use_per_add_option = yes
                    $default_option = yes
                    -->
              <td class="middle" colspan="3">
                <table summary="" class="displaynone">
                  <caption>
                    Option Information
                  </caption>
                  <colgroup>
                    <col style="width: 105px" />
                    <col style="width: auto" />
                  </colgroup>
                  <tbody></tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div id="totalPrice" class="totalPrice">
        <strong>Price</strong>(Quantity) :
        <span class="total"
          ><strong
            ><em>{{ currencyUsed }} {{ floatDiscountedPrice }}</em></strong
          >
          ({{ selectedQuantity }} item(s))</span
        >
      </div>

      <div style="margin: 15px 0">
        <p style="font-size: 16px; margin-bottom: 15px">
          Free Shipping : On Bill above Rs.3,000 (else Rs.200) (Not applicable
          for discounted items)
        </p>
        <img
          src="https://beautyglance.pk/image/catalog/icons/free-gifts.jpg"
          alt="gifts"
          class="gifts-img"
        />
        <p>
          Services:
          <img
            class="custom_features_image"
            src="https://beautyglance.pk/image/catalog/icons/checkbox-pink.jpg"
            alt="pink"
          />
          Delivery 2-3 working days
          <img
            class="custom_features_image"
            src="https://beautyglance.pk/image/catalog/icons/checkbox-pink.jpg"
            alt="pink"
            style="margin-left: 10px"
          />
          Original Guaranteed
        </p>
      </div>

      <div>
        <app-input-button buttonText="Buy Now"></app-input-button>
        <div class="buynow_btn_wrap m_margin">
          <a href="#none" class="btnNormal sizeL btnBasket add_cart_btn"
            >Add to Cart</a
          >
          <a href="#none" class="btnNormal sizeL btnWish add_cart_btn"
            >Add to WishList</a
          >
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 md:col-12 lg:col-12 box display-none">C</div>
</div>
