<div class="header-container">
  <div class="promotion-area">
    <a href="">
      <img src="../assets/promotion_bar.jpg" width="100%" />
    </a>
  </div>
  <div class="top-area display-flex">
    <div>
      <a href="">
        <img src="https://jolse.com/_dbook/img/logo.png" alt="" />
      </a>
    </div>

    <div class="search-bar">
      <input class="search" type="text" />
      <input type="image" src="../assets/search_1.png" />
    </div>

    <div style="display: flex">
      <div class="member-link">
        <a href="/login">
          <img src="../assets/sign_in.png" alt="" />
          <p>Sign In</p>
        </a>
      </div>

      <div class="member-link">
        <a href="">
          <img src="../assets/sign_up.png" alt="" />
          <p>Sign Up</p>
        </a>
      </div>

      <div class="member-link">
        <a href="">
          <img src="../assets/cart.png" alt="" />
          <p>Cart</p>
        </a>
      </div>
    </div>
  </div>
</div>

<div>
  <hr class="solid" />

  <div>
    <ul class="navbar-items" id="navbar">
      <li *ngFor="let item of navBarItemList">
        <a href="" class="black">{{ item }}</a>
      </li>
      <!-- ... -->
    </ul>
  </div>

  <div style="height: 540px">
    <!-- <ng-image-slider [images]="imageObject" #nav></ng-image-slider> -->
    <p-carousel
      [value]="bannerImagesCarousel"
      [autoplayInterval]="3000"
      [circular]="true"
      [showNavigators]="false"
    >
      <ng-template let-banner pTemplate="item">
        <img src="{{ banner.image }}" alt="banner image" width="100%" />
      </ng-template>
    </p-carousel>
    <div class="controls">
      <span class="prev">Prev</span>
      <span class="next">Next</span>
    </div>
  </div>

  <div class="main-quick-menu">
    <div class="title">
      <h2>
        QUICK <br />
        CATEGORY
      </h2>
      <p>Find products quickly by category selection</p>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
