<!-- <div class="header-container">
  <div class="promotion-area">
    <app-marquee></app-marquee>
  </div>
  <div class="top-area display-flex">
    <div>
      <a [routerLink]="['/']">
        <img
          src="https://beautyglance.pk/image/cache/catalog/bg-logo-484x66.png"
          alt=""
        />
      </a>
    </div>

    <div class="search-bar">
      <input class="search" type="text" />
      <input type="image" src="../assets/search_1.png" />
    </div>

    <div style="display: flex">
      <div class="member-link">
        <a [routerLink]="['/login']">
          <img src="../assets/sign_in.png" alt="" />
          <p>Sign In</p>
        </a>
      </div>

      <div class="member-link">
        <a [routerLink]="['/register']">
          <img src="../assets/sign_up.png" alt="" />
          <p>Sign Up</p>
        </a>
      </div>

      <div class="member-link">
        <a [routerLink]="['/cart']">
          <img src="../assets/cart.png" alt="" />
          <p>Cart</p>
        </a>
      </div>
    </div>
  </div>
</div>

<div>
  <hr class="solid" style="margin-bottom: 0px" />

  <div>
    <ul class="navbar-items" id="navbar">
      <li>
        <div class="cate-all-btn-open" (click)="display = true">
          <span>All category</span>
        </div>
      </li>
      <li *ngFor="let item of navBarItemList">
        <a [routerLink]="[item.url]" class="black">{{ item.page }}</a>
      </li>
    </ul>
  </div>
</div> -->
<!-- <router-outlet></router-outlet> -->
<!-- <app-footer></app-footer> -->
<!-- 
<p-sidebar [(visible)]="display" [fullScreen]="true" [blockScroll]="true">
  <app-hamburger-menu></app-hamburger-menu>
</p-sidebar> -->

<div class="container">
  <div class="Header"><h2>Header</h2></div>
  <div class="Content"><h2>Content</h2></div>
  <div class="Footer"><app-footer></app-footer></div>
</div>
