.main-prd3 {
    position: relative;
    padding: 75px 0 60px;
    background: url('../../../../assets/main_timedeal_bg.jpg') no-repeat 50% 0;
    border-top: 0;
    box-shadow: 0 3px 13px 2px rgb(226,226,226);
}

.main-inner {
    position: relative;
    // max-width: 1260px;
    // min-width: 1260px;
    width: 100%;
    padding: 0 10%;
    margin: 0 auto;
}

.flex-products {
    display: flex; 
    flex-wrap: wrap;
    // border: 1px solid silver;
    margin:0;
    padding: 0;
    justify-content: flex-start;
}

.main-timedeal .title {
    text-align: left;
    margin: 0 0 27px;
    line-height: 1;
}

.main-timedeal .title span {
    display: inline-block;
    margin-bottom: 0;
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.2;
}

.main-timedeal .title h2 {
    color: #fff;
    font-size: 80px;
    font-weight: 900;
}

.top-bar {
    display: flex;
    flex-direction: row;
}


.main-prd3 .main-timedeal-more {
    margin-top: 20px;
}
.main-prd3 .main-timedeal-more {
    width: 333px;
    height: 60px;
    margin: 0 auto;
    margin-top: 3%;
    background: url(https://jolse.com/_dbook/img/main_timedeal_more_bg.jpg);
    border-radius: 30px;
}

.main-prd3 .main-timedeal-more:hover {
    cursor: pointer;
}

.main-prd3 .main-timedeal-more a {
    display: block;
    line-height: 60px;
    padding-left: 40px;
    color: #fff;
    // background: url(https://jolse.com/_dbook/img/main_timedeal_more.png);
    font-size: 24px;
    font-weight: 700;
}

@media (max-width: 800px) {
    .top-bar {
      flex-direction: column;
    }

    span {
        text-align: center;
    }

    .flex-products {
        justify-content: space-around;
    }
  }