<div class="header-container">
  <div class="promotion-area">
    <app-marquee></app-marquee>
  </div>
  <div class="top-area flex-container mbl-disable">
    <div class="logo-area">
      <a [routerLink]="['/']">
        <img src="../../../../../assets/BMK_LOGO.png" alt="" class="logo" />
      </a>
    </div>

    <div class="search-bar" style="width: 100%">
      <input class="search" type="text" />
      <input type="image" style="width: 2rem" src="../assets/search_1.png" />
    </div>

    <div class="auth">
      <div class="member-link">
        <a [routerLink]="['/login']">
          <img src="../assets/sign_in.png" alt="" />
          <p>Sign In</p>
        </a>
      </div>

      <div class="member-link">
        <a [routerLink]="['/register']">
          <img src="../assets/sign_up.png" alt="" />
          <p>Sign Up</p>
        </a>
      </div>

      <div class="member-link">
        <a [routerLink]="['/cart']">
          <img src="../assets/cart.png" alt="" />
          <p>Cart</p>
        </a>
      </div>
    </div>
  </div>

  <!--Mobile View-->
  <div class="top-area flex-container web-disable">
    <div class="logo-area w-100 flex">
      <i
        class="pi pi-align-justify"
        (click)="display = true"
        style="font-size: 1.2rem; line-height: 2; width: 30%"
      ></i>
      <a [routerLink]="['/']" style="width: 50%">
        <img src="../../../../../assets/BMK_LOGO.png" alt="" class="logo" />
      </a>

      <div class="flex">
        <div class="member-link">
          <a [routerLink]="['/cart']">
            <img
              src="../assets/cart.png"
              alt=""
              class="w-50"
              style="padding-top: 15%"
            />
          </a>
        </div>

        <div class="member-link">
          <a [routerLink]="['/login']">
            <img
              src="../assets/sign_up.png"
              alt=""
              class="w-50"
              style="padding-top: 15%"
            />
          </a>
        </div>
      </div>
    </div>

    <div class="top-search">
      <div class="xans-element- xans-search xans-search-form top-search-wrap">
        <div>
          <legend></legend>
          <input
            id="keyword"
            name="keyword"
            fw-msg=""
            class="inputTypeText"
            placeholder=""
            size="15"
            value=""
            type="text"
          /><button type="submit">
            <img
              src="	https://m.jolse.com/_dbook/img/top_search_ico.png"
              alt=""
            />
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mbl-disable-block">
  <hr class="solid" style="margin-bottom: 0px" />

  <div class="flex-container" id="navbar">
    <div class="cate-all-btn-open" (click)="getCategories()">
      <span>All category</span>
    </div>
    <ul class="navbar-items">
      <div style="display: flex; flex-wrap: wrap; flex-direction: row">
        <li *ngFor="let item of navBarItemList">
          <a [routerLink]="[item.url]" class="black m-15">{{ item.page }}</a>
        </li>
      </div>
    </ul>
    <div class="recently-viewed-container">
      <p-menu #menu [popup]="true" [model]="recentlyViewedItems"></p-menu>
      <a class="recently-viewed" (click)="menu.toggle($event)"
        >Recently Viewed <i class="pi pi-angle-down"></i
      ></a>

      <!-- <button type="button" icon="pi pi-list" (click)="menu.toggle($event)">
        RECENTLY VIEWED
      </button> -->
    </div>
  </div>
</div>

<!--Mobile View-->
<div class="web-disable">
  <div class="flex-container" id="navbar">
    <ul class="navbar-items flex">
      <div style="display: flex; flex-wrap: wrap; flex-direction: row">
        <li *ngFor="let item of navBarItemListMobile">
          <a [routerLink]="[item.url]" class="black m-15">{{ item.page }}</a>
        </li>
      </div>
      <i
        class="pi pi-angle-down"
        style="line-height: 1.6"
        (click)="navBarMobileListViewToggle()"
      ></i>
    </ul>
  </div>
</div>

<p-sidebar [(visible)]="display" [fullScreen]="true" [blockScroll]="true">
  <app-hamburger-menu></app-hamburger-menu>
</p-sidebar>
