.logo {
  width: 70px;
}

.search {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  border-bottom-width: thick;
  border-bottom-color: black;
  //   max-width: 594px;
  min-width: 90%;
  height: 100%;
}

.top-area {
  // justify-content: space-between;
  // margin: 1.5rem 0rem;
  margin-top: 0.5rem;
  padding: 1.3em 0;
}

// .search-bar {
  // width: 140%;
// }

.logo-area {
  width: 40%;
  margin: auto 0
}

.member-link {
  padding: 0 1rem
}

input[type="image"] {
  // position: relative;
  // width: 30px;
  // height: 100%;
  // opacity: 0;
  z-index: 1;
}

a, a:hover {
  text-decoration: none;
}

hr.solid {
  border-top: 1px solid #F0F0F0;
  border-bottom: none;

}

ul#navbar {
  display: inline;
  /* Any other CSS you want */
}

ul#navbar li {
  display: inline;
}

.navbar-items {
  line-height: 48px;
  color: #000;
  font-size: 18px;
  font-weight: 500;
  display: flex; 
  flex-wrap: wrap; 
  flex-direction: row;
  padding-left: 30PX;
}

.navbar-items > li {
  margin: 0 5px;
}

.black {
  color: black !important;
}

.navbar-items > li > a:hover {
  color: #f54a7e !important;
}

li {
  list-style: none;
}

.title {
  margin: 0 0 27px;
  line-height: 1;
  text-align: center;
}

.title h2 {
  color: #000;
  font-size: 50px;
  font-weight: 700;
}

.title p {
  margin-top: 10px;
  color: #000;
  font-size: 16px;
  font-weight: 300;
}

#navbar .cate-all-btn-open {
  display: inline-block;
  width: 55px;
  height: 50px;
  background: #000;
  cursor: pointer;
}

#navbar .cate-all-btn-open > span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

#navbar .cate-all-btn-open > span::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -1px;
  width: 100%;
  height: 2px;
  border-top: 2px solid #fff;
}

#navbar .cate-all-btn-open > span {
  display: inline-block;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 24px;
  height: 16px;
  text-indent: -999px;
}

// Responsive

.flex-container-default {
  display: flex;
  flex-direction: row;
}

.flex-container {
  display: flex;
  flex-direction: row;
  margin: 0 10%;
}

.m-15 {
  margin: 15px;
}

.w-20 {
  width: 20%;
}

.recently-viewed {
  font-size: 16px;
  cursor: pointer;
}

.recently-viewed-container {
  display: flex;
  justify-content: end;
  flex: 1;
  line-height: 48px;
}

.web-disable {
  display: none !important;
}

.mbl-disable {
  display: flex !important;
}

.mbl-disable-block {
  display: block;
}

.header-items a:hover {
  color: #f54a7e !important;
}

.userinfo {
  display: flex;
}

.side-bar-wrap2 {
  display: flex;
  align-items: center;
  padding: 7px 14px;
  border-bottom: solid 1px #d2d2d2;
}

.side-bar-wrap2 .profile {
  margin: 0 12px 0 0;
}

.side-bar-wrap2 .sp-sidebar-ico1 {
  height: 100%;
  width: 40px;
  display: inline-block;
}

.side-bar-wrap2 .sp-sidebar-ico1::before {
  background-image: url("../../../../../assets/icons/ico_guest.png");
  background-position: 0 0;
  background-size: 100% auto;
}

.side-bar-wrap2 .sp-sidebar-ico1::before {
  width: 42px;
  height: 42px;
}

.side-bar-wrap2 .txt_1 {
  margin-top: 5px;
  font-size: 14px;
}

.side-bar-wrap2 .txt {
  float: left;
}

.side-bar-wrap2 .txt_1 .subTxt {
  display: block;
  margin-top: 2px;
  font-size: 12px;
}

.xans-myshop-main.sidetop-wrap {
  display: flex;
  position: relative;
  padding: 7px 0;
  border-bottom: solid 1px #d2d2d2;
  background: #ffffff;
  box-sizing: border-box;
  align-items: stretch;
  box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
}

.xans-myshop-main.sidetop-wrap {
  border: 0;
}

.xans-myshop-main.sidetop-wrap a.sp-sidebar-wishList {
  width: 25%;
  padding-top: 10px;
  background: none;
}

.xans-myshop-main.sidetop-wrap a {
  width: 33.33% !important;
}

.xans-myshop-main.sidetop-wrap a {
  padding: 0;
  color: #000000;
  font-size: 11px;
  font-weight: 500;
  border: 0;
  border-right: solid 1px #d2d2d2;
}

.xans-myshop-main a.wishList {
  background: #4a5164 url("../../../../../assets/bg_wish_list.png") no-repeat 50% 15px;
}

.sp-sidebar::before {
  display: inline-block;
  background-image: url("../../../../../assets/sp_sidebar.png");
  background-size: 150px 75px;
  background-repeat: no-repeat;
  vertical-align: middle;
  font-size: 0;
  content: '';
}

.header-items-mobile {
  color: #000000;
  font-size: 18px;
  font-weight: 900;
  margin: 5% 5% 0 3% !important
}

.w-80-screen {
  width: 80vw;
}

:host ::ng-deep p-dialog {
  .p-dialog {
    max-width: 80%;
    max-height: 100%;
  }

  .p-dialog-header{
    padding: 20px 1.5rem 8px;
    position: relative;
  }
}

.goog-te-gadget .goog-te-combo {
  border: none;
  font: 0.75em "Montserrat", Arial, Verdana, sans-serif;
  font-size: 15px;
}

:host ::ng-deep #google_translate_element select {
  background: white;
}

:host ::ng-deep app-input-button {
  .btnLogin {
    height: 30px;
    line-height: 30px;
    font-size: 14px;
  }

  .signup .btnLogin {
    background: #ccc !important;
    border: 1px solid #ccc !important;
  }
}

:host ::ng-deep p-overlayPanel {
  .p-overlaypanel .p-component {
    width: 100% !important;
  }
}

:host ::ng-deep app-input-button.signup {
  .btnLogin {
    background: #ccc !important;
    border: 1px solid #ccc !important;
  }
}

select {
  background: white;
}

/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 800px) {
  :host ::ng-deep p-sidebar {
    .p-sidebar .p-sidebar-content {
      padding: 0;
    }
  }

  .mbl-disable {
    display: none !important;
  }

  .mbl-disable-block {
    display: none;
  }
  .web-disable {
    display: flex !important;
  }
  .flex-container {
    flex-direction: column;
    margin: 0;
  }

  .auth {
    width: 100%;
  }
  .search-bar {
    width: 100%;
  }
  // .logo-area {
  //   //width: 100%;
  // }

  .top-area {
    padding: 1em 0;
  }

  .top-area > * {
    margin: 0 10px;
  }

  .w-100 {
    width: 100%;
  }

  .flex {
    display: flex;
  }

  .logo {
    width: 100px;
  }

  .member-link {
    padding: 0;
  }

  .w-50 {
    width: 50%;
  }

  .top-search .top-search-wrap {
    position: relative;
  }
  legend {
    height: 0;
    width: 0;
    display: block;
    text-indent: -9999em;
  }

  .top-search #keyword {
    width: 100%;
    height: 35px;
    padding: 0 0 0 20px;
    border: 0;
    border-radius: 30px;
    background: #ededed;
  }

  .top-search .top-search-wrap button {
    position: absolute;
    top: 0;
    right: 14px;
    height: 100%;
    border: 0;
    background: transparent;
  }

  .top-search .top-search-wrap button > img {
    max-width: 16px;
  }

  .navbar-items {
    line-height: 30px;
    color: #000;
    font-size: 14px;
    font-weight: 700;
  }

}

.all-categories-heading{
  font-size: 30px;
  font-weight: 600;
  color: #000;
  text-transform: uppercase;
}

.main-nav-wrapper{
  border-top: 1px solid #e9e9e9;
  border-bottom: 1px solid #e9e9e9;
}

.header-mid{
  padding: 18px 0 10px;
  align-items: center;
  // .search-bar{

  // }

}

.auth {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  
  .member-link-web{
    text-align: center;
    &:nth-child(2){
      padding: 0 15px;
    }

    a{
      display: inline-block;
      position: relative;
      color: black;

      .cart-qty{
        position: absolute;
        top: 13px;
        font-size: 14px;
        color: red;
        font-weight: 900;
        width: 100%;
      }
    }

    img{
      max-width: 30px;
    }
  }
}

.cart-dropdown{
  position: relative;

  &:hover {
    .dropdown-content {
      opacity: 1;
      transform: scale(1);
    }
  }
}

.dropdown-content {
  display: block;
  position: absolute;
  top: 40px;
  left: auto;
  right: 0;
  border: 1px solid #efefef;
  background: white;
  border-radius: .4em;
  min-width: 400px;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.1);
  z-index: 1;
  opacity: 0;
  transform: scale(0);
  transition: all 0.3s ease-in-out;
  transform-origin: right top;

  &::before{
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border: 10px solid transparent;
    transform: none;
    pointer-events: none;
    border-bottom-color: white;
    right: 5px;
    top: -20px;
  }

  ul{
    
    .cart-items{
      width: 100%;
    }
    .cart-products{
      overflow-x: hidden;
      margin-bottom: -1px;
      max-height: 275px;
      overflow-y: auto;
    }

    .single-item{

      &:first-of-type > td {
        border-top: 0 !important;
      }

      td{
        padding: 8px;
        border-width: 1px 0 0 0;
        background-color: transparent;
        border-style: solid !important;
        border-color: rgba(221, 221, 221, 1) !important;
        vertical-align: middle;
      }
      .item-image{
        min-width: 60px;
        img{
          max-width: 60px;
        }
      }

      .item-name{
        a{
          color: #f54a7e;
          text-decoration: underline;
        }
      }

      .item-qty{
        white-space: nowrap;
      }


      .item-remove{
        padding: 7px 5px;
        min-width: 25px;

        button {
          font-size: 15px;
          position: relative;
          background-color: transparent;
          padding: 2px 0 0 0;
          border: none;
          outline: none;
          margin: 0;
          color: rgba(221, 14, 28, 1);
          cursor: pointer;
        }
      }
    }

    .cart-actions {
      border-width: 1px 0 0 0;
      z-index: 2;
    }

    .cart-total{

      .single-row{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 15px;
        background: rgba(238, 238, 238, 1);
        border-bottom: 1px solid rgba(221, 221, 221, 1) !important;

        .sr-total-title{
          font-weight: 700;
          margin-left: 5px;
        }

        .sr-total-text{
          min-width: 100px;
          font-weight: 700;
        }
      }
    }

    .cart-buttons{
      padding: 10px;
      background: rgba(230, 230, 230, 1);
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .btn{
      background: rgba(0, 0, 0, 1);
      border-width: 2px;
      padding: 10px 15px;
      padding-right: 20px;
      padding-left: 20px;
      font-size: 12px;
      color: rgba(255,255,255,1);
      font-weight: 400;
      text-transform: uppercase;
      margin: 0 6px;
      width: auto;

      i{
        font-size: 14px;
        font-size: 12px;
        margin-top: 1px;
      }
    }

    .btn-cart{
      display: inline-flex;
      i{
        margin-right: 5px;
      }
    }

    .btn-checkout{
      display: inline-flex;
      i{
        margin-left: 5px;
      }
    }
  }
}

.search-result-wrap{
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  img{
    max-width: 70px;
    margin-right: 10px;
  }

  p{
    font-size: 14px;
    color: black;
  }
}