.logo {
    width: 140px;
}

.search {
    border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  border-bottom-width: thick;
  border-bottom-color: black;
//   max-width: 594px;
min-width: 90%;
  height: 100%;
}


.auth {
    display: flex;
    flex-direction: row;
    width: 40%;
    justify-content: flex-end;
}
.top-area {
    // justify-content: space-between;
    // margin: 1.5rem 0rem;
    margin-top:0.5rem;
    padding: 1.3em 0;
}

.search-bar {
    width: 140%;
}



.logo-area {
    width: 40%; 
    margin: auto 0
}

.member-link {
    padding: 0rem 1rem
}

input[type="image"] {
    // position: relative;
    // width: 30px;
    // height: 100%;    
    // opacity: 0;
    z-index: 1;
}

a, a:hover {
    text-decoration: none;
}

hr.solid {
    border-top: 1px solid #F0F0F0;
    border-bottom: none;
    
}

ul#navbar {
    display:inline;
    /* Any other CSS you want */
}
ul#navbar li {
    display:inline;
}

.navbar-items {
    line-height: 48px;
    color: #000;
    font-size: 18px;
    font-weight: 500;
}

 .navbar-items > li {
    // display: inline-block;
    vertical-align: top;
    // position: relative;
    margin: 0 30px;
    font-weight: 500;
}

.black {
    color: black !important;
}

.navbar-items > li > a:hover {
    color: #ff2e47 !important;
}

li {
    list-style: none;
}

.title {
    margin: 0 0 27px;
    line-height: 1;
    text-align: center;
}

.title h2 {
    color: #000;
    font-size: 50px;
    font-weight: 700;
}

.title p {
    margin-top: 10px;
    color: #000;
    font-size: 16px;
    font-weight: 300;
}

#navbar .cate-all-btn-open {
    display: inline-block;
    width: 55px;
    height: 50px;
    background: #000;
    cursor: pointer;
}

#navbar .cate-all-btn-open > span::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#navbar .cate-all-btn-open > span::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -1px;
    width: 100%;
    height: 2px;
    border-top: 2px solid #fff;
}

#navbar .cate-all-btn-open > span {
    display: inline-block;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 24px;
    height: 16px;
    text-indent: -999px;
}

// Responsive 

.flex-container-default {
    display: flex;
    flex-direction: row;
  }

.flex-container {
    display: flex;
    flex-direction: row;
    margin:0 10%;
  }
  
  .m-15 {
      margin:15px;
  }

.recently-viewed {
    font-size: 16px;
    cursor: pointer;
}

.recently-viewed-container {
    display: flex;
    justify-content: end;
    flex:1;
    line-height: 48px;
}

.web-disable {
    display: none;
}

.mbl-disable {
    display: flex;
}

.mbl-disable-block {
    display: block;
}

:host ::ng-deep p-dialog {
    .p-dialog {
        max-width: 80%;
        max-height: 100%;
    }
  }
  /* Responsive layout - makes a one column-layout instead of two-column layout */
  @media (max-width: 800px) {

    .mbl-disable {
        display: none;
    }

    .mbl-disable-block {
        display: none;
    }
    .web-disable {
        display:flex
    }
      .flex-container {
        flex-direction: column;
        margin:0;
      }

      .auth {
        width: 100%;
      }
      .search-bar {
        width: 100%;
      }
      .logo-area {
        //width: 100%;
      }

      .top-area {
        padding: 1em 0;
      }

      .top-area > * {
        margin: 0 10px;
      }

      .w-100 {
        width: 100%;
      }

      .flex {
        display: flex;
      }

      .logo {
        width: 100px;
      }

      .member-link {
        padding: 0;
      }

      .w-50 {
        width: 50%;
      }

      .top-search .top-search-wrap {
        position: relative;
    }
    legend {
        height: 0;
        width: 0;
        display: block;
        text-indent: -9999em;
    }

    .top-search #keyword {
        width: 100%;
        height: 35px;
        padding: 0 0 0 20px;
        border: 0;
        border-radius: 30px;
        background: #ededed;
    }

    .top-search .top-search-wrap button {
        position: absolute;
        top: 0;
        right: 14px;
        height: 100%;
        border: 0;
        background: transparent;
    }

    .top-search .top-search-wrap button > img {
        max-width: 16px;
    }

    .navbar-items {
        line-height: 30px;
        color: #000;
        font-size: 14px;
        font-weight: 700;
    }
      
    }