#footer {
    position: relative;
    border: 0;
    border-top: 1px solid #cbcaca;
    margin-top: 50px;
}

#footer .footer-inner {
    // position: relative;
    max-width: 100%;
    padding: 0 0;
    margin: 0 auto;
    box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.footer-top .footer-inner  {
    position: relative;
    width: 100%;
}

.footer-top .footer-inner > div {
    display: inline-block;
    vertical-align: middle;
    padding: 6px 0;
    margin: 0;
}



// ul#navbar {
//     display:inline;
//     /* Any other CSS you want */
// }
// ul#navbar li {
//     display:inline;
// }

.navbar-items {
    // line-height: 48px;
    flex-direction: row;
    color: #000;
    font-size: 15px;
    font-weight: 500;
}

 .navbar-items > li {
    // display: inline-block;
    vertical-align: top;
    // position: relative;
    // margin: 0 30px;
    font-weight: 500;
}

.black {
    color: black !important;
}

a, a:hover {
    text-decoration: none;
}

#footer .footer-area {
    padding: 2rem 10% !important; 
    
}
#footer .footer-area, #footer .footer-bottom {
    background: #000;
    color: #fff;
    padding: 30px 0.5rem 1rem;
    border-top: 1px solid #cbcaca;
}

#footer .address {
    display: inline-block;
    vertical-align: top;
    padding: 15px 0 0;
    color: #a5a5a5;
    font-size: 13px;
    font-weight: 500;
    line-height: 1.4;
}

#footer .address ul li {
    position: relative;
}

li {
    list-style: none;
}

#footer .footer-pg {
    display: flex;
    flex-direction: row;
    padding: 30px 0 13px;
}

#footer .footer-pg li {
    // display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
}

#footer .app-down {
    // position: absolute;
    // bottom: 15px;
    // right: 0;
}

#footer .app-down li {
    display: inline-block;
    vertical-align: middle;
}

.flex-container {
  display: flex;
  flex-direction: row;
}

.m-15 {
    margin:15px;
}

.nav-items-footer-top{
    margin: 25px 25px 0;
}

.nav-items-footer-top:nth-child(1){
    margin-left: 0;
}

.footer-top-bar {
    justify-content: space-between;
    margin: 0 10% !important;
}
.logo {
    width: 120px;
}
/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 800px) {
    .flex-container {
      flex-direction: column;
    }
    .footer-top-bar {
        margin: 0 !important;
    }
    .footer-top-bar {
        padding: 0 !important;
    }
  }