#footer {
    position: relative;
    width: 100%;
    border: 0;
    border-top: 1px solid #cbcaca;
    margin-top: 50px;
}

#footer .footer-inner {
    position: relative;
    max-width: 1260px;
    min-width: 1260px;
    width: 100%;
    padding: 0 0;
    margin: 0 auto;
    box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.footer-top .footer-inner .footer-link {
    position: relative;
    width: 100%;
}

.footer-top .footer-inner > div {
    display: inline-block;
    vertical-align: middle;
    padding: 6px 0;
    margin: 0;
}



ul#navbar {
    display:inline;
    /* Any other CSS you want */
}
ul#navbar li {
    display:inline;
}

.navbar-items {
    line-height: 48px;
    color: #000;
    font-size: 15px;
    font-weight: 500;
}

 .navbar-items > li {
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0 30px;
    font-weight: 500;
}

.black {
    color: black !important;
}

a, a:hover {
    text-decoration: none;
}

.footer-link{
    display: flex;
    justify-content: space-between
}
.footer-inner .footer-link .sns li.fb a {
    background-position: 8px 50%;
}

.footer-inner .footer-link .sns li.insta a {
    background-position: -30px 50%;
}

.footer-inner .footer-link .sns li.ytb a {
    width: 36px;
    background-position: -72px 50%;
}

.footer-inner .footer-link .sns li a {
    display: block;
    width: 30px;
    text-indent: -9999px;
    background: url(../../../../assets/sp_sns.png) no-repeat;
}

#footer .footer-area, #footer .footer-bottom {
    background: #000;
    color: #fff;
    padding: 30px 0 0;
    border-top: 1px solid #cbcaca;
}

#footer .address {
    display: inline-block;
    vertical-align: top;
    padding: 15px 0 0;
    color: #a5a5a5;
    font-size: 13px;
    font-weight: 500;
    line-height: 1.4;
}

#footer .address ul li {
    position: relative;
}

li {
    list-style: none;
}

#footer .footer-pg {
    padding: 30px 0 13px;
}

#footer .footer-pg li {
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
}

#footer .app-down {
    position: absolute;
    bottom: 15px;
    right: 0;
}

#footer .app-down li {
    display: inline-block;
    vertical-align: middle;
}