<div id="footer">
  <div class="footer-inner flex-container footer-top-bar">
    <div>
      <ul class="navbar-items flex-container" id="navbar">
        <li *ngFor="let item of footerBarItemList" class="nav-items-footer-top">
          <a href="{{ item.url }}" class="black">{{ item.title }}</a>
        </li>
      </ul>
    </div>

    <div>
      <ul class="navbar-items">
        <!-- <li
          *ngFor="let item of footerBarSocialMediaItemList"
          class="{{ item.class }}"
        >
          <a href="">{{ item.title }}</a>
        </li> -->
        <i class="pi pi-facebook m-15" style="font-size: 1.7rem"></i>
        <i class="pi pi-instagram m-15" style="font-size: 1.7rem"></i>
        <i class="pi pi-youtube m-15" style="font-size: 1.7rem"></i>
      </ul>
    </div>
  </div>

  <div class="footer-area">
    <div class="footer-inner">
      <div class="footer-logo">
        <a href="/">
          <img class="logo" [src]="setting.footer_logo" />
        </a>
      </div>

      <div class="address" [innerHTML]="setting.address">
      </div>

      <div class="flex-container" style="justify-content: space-between">
        <ul class="footer-pg">
          <li *ngFor="let item of footerPaymentLinks">
            <img src="{{ item }}" />
          </li>
        </ul>
        <ul class="app-down">
          <li *ngFor="let item of footerAppDownloadLinks">
            <img src="{{ item }}" width="100px" />
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
