<div id="footer">
  <div class="footer-inner flex-container footer-top-bar">
    <div>
      <ul class="navbar-items flex-container" id="navbar">
        <li *ngFor="let item of footerBarItemList" class="m-15">
          <a href="{{ item.url }}" class="black">{{ item.title }}</a>
        </li>
      </ul>
    </div>

    <div>
      <ul class="navbar-items">
        <!-- <li
          *ngFor="let item of footerBarSocialMediaItemList"
          class="{{ item.class }}"
        >
          <a href="">{{ item.title }}</a>
        </li> -->
        <i class="pi pi-facebook m-15" style="font-size: 1.2rem"></i>
        <i class="pi pi-instagram m-15" style="font-size: 1.2rem"></i>
        <i class="pi pi-youtube m-15" style="font-size: 1.2rem"></i>
      </ul>
    </div>
  </div>

  <div class="footer-area">
    <div class="footer-inner">
      <div class="footer-logo">
        <a href="/">
          <img class="logo" src="../../../../assets/BMK_LOGO.png" />
        </a>
      </div>

      <div class="address">
        <ul>
          <li>COMPANY : Barunson Co,. Ltd</li>
          <li>LICENSE : 114-81-65451</li>
          <li>
            ADDRESS : 16227 Yeongtong-gu Suwon-si Gyeonggi-do Korea 5th K-Tower
            Daehak 3-ro 1
          </li>
          <li>D-U-N-S® Number : 694506164</li>
        </ul>
      </div>

      <div class="flex-container" style="justify-content: space-between">
        <ul class="footer-pg">
          <li *ngFor="let item of footerPaymentLinks">
            <img src="{{ item }}" />
          </li>
        </ul>
        <ul class="app-down">
          <li *ngFor="let item of footerAppDownloadLinks">
            <img src="{{ item }}" />
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
