<div id="wrap">
  <div id="container">
    <div id="contents">
      <app-ad-banner></app-ad-banner>

      <div class="contactusWrap">
        <div class="content0">
          <h2>{{ title }}</h2>
        </div>
        <p-divider></p-divider>
      </div>
      <p>
        Providing our customers with a sophisticated alcohol retail shopping
        experience is the Crown Wine and Spirits difference. Our upscale
        products coupled with a relaxed and gourmet atmosphere appeals to a wide
        variety of shoppers. With top-rated selections in fine wines and
        spirits, craft beers, ales and lagers, mixers, elegant gift baskets and
        gourmet snacks, Crown Wine and Spirits is committed to providing the
        best merchandise selection at the lowest possible prices.
      </p>
    </div>
  </div>
</div>
