<div class="prdList">
  <div id="div1">
    <div class="thumbnail">
      <div class="prdImage">
        <a [routerLink]="'/product/' + slug">
          <img [src]="image" width="100%" height="100%" [alt]="name" />
        </a>
        <div class="middle">
          <i class="pi pi-heart" (click)="AddtoWishList()"></i>
          <i class="pi pi-shopping-bag" (click)="AddtoCart()"></i>
        </div>
      </div>
    </div>

    <div class="description">
      <span class="prd-brand">{{ brandName }}</span>
      <strong class="name">
        <a [routerLink]="'/product/' + slug">
          <span>{{ name }}</span>
        </a>
      </strong>
    </div>
  </div>

  <div id="div2" class="prod-price">
    <div class="solid"></div>
    <div>
      <span class="price">{{
        discount_price ? currency + " " + price : "-"
      }}</span>
    </div>
    <div>
      <span class="discounted_price">{{
        currency + " " + (discount_price ?? price)
      }}</span>
    </div>
  </div>
</div>
