<div class="prdList">
  <div id="div1">
    <div class="thumbnail">
      <div class="prdImage">
        <a [routerLink]="'/product/' + slug">
          <img [src]="image" width="100%" height="100%" [alt]="name" />
        </a>
        <div class="middle">
          <i class="pi pi-heart"></i>
          <i class="pi pi-shopping-bag"></i>
        </div>
      </div>
    </div>

    <div class="description">
      <span class="prd-brand">{{ name }}</span>
      <strong class="name">
        <a [routerLink]="'/product/' + slug">
          <span>{{ name }}</span>
        </a>
      </strong>
    </div>
  </div>

  <div id="div2">
    <div class="solid"></div>

    <div style="text-align: center; margin: 5px 0 0 0">
      <span class="price">{{ discount_price ? currency + " " + price : "-" }}</span>
    </div>
    <div style="text-align: center">
      <span class="discounted_price">{{ currency + " " + (discount_price ?? price) }}</span>
    </div>
  </div>
</div>
