#wrap {
    position: relative;
    min-height: 550px;
    margin: 0;
    padding: 0;
    width: 100%;
}

#container {
    max-width: 1280px;
    min-width: 1280px;
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    margin-bottom: 30px;
    overflow: hidden;

    .banner-link{
        transition: all 0.5s ease-in-out;
        display: block;

        &:hover{
            transform: scale(1.1);
        }
    }
}


img {
    width: 100%;
}

@media (max-width: 800px) {

    #container {
        max-width: 100%;
        min-width: 100%;
    }
}