/* You can add global styles to this file, and also import other style files */
@import '~lightgallery/scss/lightgallery';

body {
    // background-color: #edf1f7;
    font: 0.75em 'Montserrat',Arial,Verdana,sans-serif;
}
html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, img {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat','Arial';
}

input {
    vertical-align: middle;
}

input:focus, button:focus, select:focus {
    outline: none;
}

.display-flex {
    display: flex;
}

a, a:hover, a:visited {
    text-decoration: none;
}

img {
    max-width: 100%;
}

h2 {
    font-size: 38px;
    text-align: center;
}

.p-grid {
    display: flex;
    flex-wrap: wrap;
    margin-right: -0.5rem;
    margin-left: -0.5rem;
    margin-top: -0.5rem;
}

.flex-container {
    display: flex;
}

.slick-slider {
    width: 88%;
    margin: auto;
    background: rgb(14, 13, 13);
  }
  
body .slick-prev, 
body .slick-next {
    height: 45px;
    width: 40px;
    background: grey !important;
    z-index: 100;
}

.mobile-view {
    display: none;
}

.mobile-view-block {
    display: none;
}

.web-view {
    display: flex;
}

.web-view-block {
    display: block;
}


@media (max-width: 800px) {

    .web-view {
        display: none;
    }

    .mobile-view-block {
        display: block;
    }

    .web-view-block {
        display: none;
    }
    .mobile-view {
        display:flex
    }
}