<div class="main-container">
  <div class="grid mt-5">
    <div class="col-4 md:col-4 lg:col-4 sm:col-12 pl-0">
      <form>
        <!--Login Section -->
        <!-- <div class="checkout-section section-login">
          <div class="title section-title">Login or Register</div>
          <div class="section-body">
            <div class="form-group login-options">
              <div class="radio">
                <label
                  ><input type="radio" name="account" value="" />Login</label
                >
              </div>
              <div class="radio">
                <label
                  ><input
                    type="radio"
                    name="account"
                    value="register"
                  />Register</label
                >
              </div>
              <div class="radio">
                <label
                  ><input
                    type="radio"
                    name="account"
                    value="guest"
                  />Guest</label
                >
              </div>
            </div>
            <div class="login-form"></div>
          </div>
        </div> -->

        <!-- Personal/Billing Details -->
        <div
          *ngIf="!loggedInUserPersonalDetailsFetched"
          class="checkout-section section-register"
        >
          <div class="title section-title">Your Personal Details</div>
          <div class="section-body">
            <table summary="">
              <tbody>
                <tr>
                  <th scope="row">
                    <p>
                      {{ registerFormFields.firstName }}
                      <span class="required">*</span>
                    </p>
                  </th>
                  <td>
                    <input
                      type="text"
                      name="firstName"
                      [(ngModel)]="billingDetailsForm.first_name"
                      placeholder="First Name"
                      id="input-payment-company"
                      class="form-control"
                      [disabled]="loggedInUserPersonalDetailsFetched"
                    />
                  </td>
                </tr>
                <tr>
                  <th scope="row">
                    <p>
                      {{ registerFormFields.lastName }}
                      <span class="required">*</span>
                    </p>
                  </th>
                  <td>
                    <input
                      type="text"
                      name="lastName"
                      [(ngModel)]="billingDetailsForm.last_name"
                      placeholder="Last Name"
                      id="input-payment-company"
                      class="form-control"
                      [disabled]="loggedInUserPersonalDetailsFetched"
                    />
                  </td>
                </tr>
                <tr>
                  <th scope="row">
                    <p>
                      {{ registerFormFields.email }}
                      <span class="required">*</span>
                    </p>
                  </th>
                  <td>
                    <input
                      type="text"
                      name="email"
                      [(ngModel)]="billingDetailsForm.email"
                      placeholder="Email"
                      id="input-payment-company"
                      class="form-control"
                      [disabled]="loggedInUserPersonalDetailsFetched"
                    />
                  </td>
                </tr>
                <tr>
                  <th scope="row">
                    <p>
                      {{ registerFormFields.contactNo }}
                      <span class="required">*</span>
                    </p>
                  </th>
                  <td>
                    <input
                      type="text"
                      name="contactNo"
                      [(ngModel)]="billingDetailsForm.contact"
                      placeholder="Contact No"
                      id="input-payment-company"
                      class="form-control"
                      [disabled]="loggedInUserPersonalDetailsFetched"
                    />
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <!-- Shipping Details -->
        <div
          *ngIf="!loggedInUserPersonalDetailsFetched"
          class="checkout-section section-register"
        >
          <div class="title section-title">Your Shipping Details</div>
          <div class="section-body">
            <div>
              <p-checkbox
                [(ngModel)]="billingDetailsSameAsShippingDetails"
                name="billingDetailsSameAsShippingDetailsCheckbox"
                [binary]="true"
                inputId="billingDetailsSameAsShippingDetails"
                (ngModelChange)="updateBillingAndShippingDetails()"
              ></p-checkbox>
              <label for="billingDetailsSameAsShippingDetails"
                >My shipping details are the same as billing details</label
              >
            </div>

            <table summary="">
              <tbody>
                <tr>
                  <th scope="row">
                    <p>
                      {{ registerFormFields.firstName }}
                      <span class="required">*</span>
                    </p>
                  </th>
                  <td>
                    <input
                      type="text"
                      name="shippingfirstName"
                      [(ngModel)]="shippingDetailsForm.first_name"
                      placeholder="First Name"
                      id="input-payment-company"
                      class="form-control"
                      [disabled]="billingDetailsSameAsShippingDetails"
                    />
                  </td>
                </tr>
                <tr>
                  <th scope="row">
                    <p>
                      {{ registerFormFields.lastName }}
                      <span class="required">*</span>
                    </p>
                  </th>
                  <td>
                    <input
                      type="text"
                      name="shippinglastName"
                      [(ngModel)]="shippingDetailsForm.last_name"
                      placeholder="Last Name"
                      id="input-payment-company"
                      class="form-control"
                      [disabled]="billingDetailsSameAsShippingDetails"
                    />
                  </td>
                </tr>
                <tr>
                  <th scope="row">
                    <p>
                      {{ registerFormFields.email }}
                      <span class="required">*</span>
                    </p>
                  </th>
                  <td>
                    <input
                      type="text"
                      name="shippingemail"
                      [(ngModel)]="shippingDetailsForm.email"
                      placeholder="Email"
                      id="input-payment-company"
                      class="form-control"
                      [disabled]="billingDetailsSameAsShippingDetails"
                    />
                  </td>
                </tr>
                <tr>
                  <th scope="row">
                    <p>
                      {{ registerFormFields.contactNo }}
                      <span class="required">*</span>
                    </p>
                  </th>
                  <td>
                    <input
                      type="text"
                      name="shippingcontactNo"
                      [(ngModel)]="shippingDetailsForm.contact"
                      placeholder="Contact No"
                      id="input-payment-company"
                      class="form-control"
                      [disabled]="billingDetailsSameAsShippingDetails"
                    />
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!--Billing Address-->
        <div class="checkout-section payment-address">
          <div class="title section-title">Billing Address</div>
          <div class="section-body">
            <div>
              <div class="field-checkbox">
                <p-radioButton
                  name="wantToUseExistingAddressBoolean"
                  [value]="true"
                  [(ngModel)]="wantToUseExistingAddressBoolean"
                  (ngModelChange)="setAddressDetails(selectedAddress)"
                ></p-radioButton>
                <label>I want to use an existing address</label>
              </div>

              <p-dropdown
                *ngIf="wantToUseExistingAddressBoolean"
                [options]="existingAddresses"
                [ngModel]="selectedAddress"
                optionLabel="address_line_one"
                (onChange)="onExistingAddressChange($event)"
                (ngModelChange)="setAddressDetails(selectedAddress)"
              ></p-dropdown>

              <div class="field-checkbox">
                <p-radioButton
                  name="wantToUseExistingAddressBoolean"
                  [value]="false"
                  [(ngModel)]="wantToUseExistingAddressBoolean"
                  (ngModelChange)="resetBillingDetailsForm()"
                ></p-radioButton>
                <label>I want to use a new address</label>
              </div>
              <!-- <div
                *ngFor="let address of existingAddresses"
                class="field-checkbox"
              >
                <p-radioButton
                  [inputId]="address.address_line_one"
                  name="addresses"
                  [value]="address"
                  [(ngModel)]="selectedAddress"
                  (ngModelChange)="setAddressDetails(address)"
                ></p-radioButton>
                <label [for]="address.address_line_one" class="ml-2">{{
                  address.address_line_one
                }}</label>
              </div> -->
            </div>
            <table *ngIf="!wantToUseExistingAddressBoolean" summary="">
              <tbody>
                <tr>
                  <th scope="row">
                    <p>Address 1</p>
                  </th>
                  <td>
                    <input
                      type="text"
                      name="address_1"
                      #address_1="ngModel"
                      [(ngModel)]="billingAddressForm.address_line_one"
                      placeholder="Address 1"
                      id="input-payment-company"
                      class="form-control"
                      required
                    />
                  </td>
                  <div *ngIf="address_1.invalid && checkOnSubmit" class="alert">
                    <div *ngIf="address_1.errors?.['required']">
                      Address is required.
                    </div>
                  </div>
                </tr>
                <tr>
                  <th scope="row">
                    <p>Address 2</p>
                  </th>
                  <td>
                    <input
                      type="text"
                      name="address_2"
                      [(ngModel)]="billingAddressForm.address_line_two"
                      placeholder="Address 2"
                      id="input-payment-company"
                      class="form-control"
                    />
                  </td>
                </tr>
                <tr>
                  <th scope="row">
                    <p>City</p>
                  </th>
                  <td>
                    <input
                      type="text"
                      name="city"
                      #city="ngModel"
                      [(ngModel)]="billingAddressForm.address_city"
                      placeholder="City"
                      id="input-payment-company"
                      class="form-control"
                      required
                    />
                  </td>
                  <div *ngIf="city.invalid && checkOnSubmit" class="alert">
                    <div *ngIf="city.errors?.['required']">
                      City is required.
                    </div>
                  </div>
                </tr>
                <tr>
                  <th scope="row">
                    <p>Country</p>
                  </th>
                  <td>
                    <p-dropdown
                      placeholder="Select a Country"
                      [options]="countryList"
                      #country="ngModel"
                      name="countryList"
                      [(ngModel)]="billingAddressForm.address_country"
                    ></p-dropdown>
                  </td>
                </tr>
                <tr>
                  <th scope="row">
                    <p>Region/State</p>
                  </th>
                  <td>
                    <input
                      type="text"
                      name="state"
                      [(ngModel)]="billingAddressForm.address_state"
                      placeholder="State"
                      id="input-payment-company"
                      class="form-control"
                      #state="ngModel"
                      required
                    />
                  </td>
                  <div *ngIf="state.invalid && checkOnSubmit" class="alert">
                    <div *ngIf="state.errors?.['required']">
                      State/Region is required.
                    </div>
                  </div>
                </tr>
                <tr>
                  <th scope="row">
                    <p>Zip Code</p>
                  </th>
                  <td>
                    <input
                      type="text"
                      name="zip_code"
                      #zip_code="ngModel"
                      [(ngModel)]="billingAddressForm.address_zip_code"
                      placeholder="Zip Code"
                      id="input-payment-company"
                      class="form-control"
                      required
                    />
                  </td>
                  <div *ngIf="zip_code.invalid && checkOnSubmit" class="alert">
                    <div *ngIf="zip_code.errors?.['required']">
                      Zip code is required.
                    </div>
                  </div>
                </tr>
              </tbody>
            </table>
            <div>
              <p-checkbox
                [(ngModel)]="billingAddressSameAsShippingAddress"
                name="billingAddressSameAsShippingAddressCheckbox"
                [binary]="true"
                inputId="billingAddressSameAsShippingAddress"
                (ngModelChange)="updateBillingAndShippingAddress()"
              ></p-checkbox>
              <label for="billingAddressSameAsShippingAddress"
                >My shipping address is the same as billing address</label
              >
            </div>
          </div>
        </div>
        <!---->

        <!--Shipping Address-->
        <div
          *ngIf="!billingAddressSameAsShippingAddress"
          class="checkout-section payment-address"
        >
          <div class="title section-title">Shipping Address</div>
          <div class="section-body">
            <div>
              <div class="field-checkbox">
                <p-radioButton
                  name="wantToUseExistingShippingAddressBoolean"
                  [value]="true"
                  [(ngModel)]="wantToUseExistingShippingAddressBoolean"
                ></p-radioButton>
                <label>I want to use an existing address</label>
              </div>

              <p-dropdown
                *ngIf="wantToUseExistingShippingAddressBoolean"
                [options]="existingAddresses"
                [ngModel]="selectedAddress"
                (onChange)="onExistingShippingAddressChange($event)"
                optionLabel="address_line_one"
              ></p-dropdown>

              <div class="field-checkbox">
                <p-radioButton
                  name="wantToUseExistingShippingAddressBoolean"
                  [value]="false"
                  [(ngModel)]="wantToUseExistingShippingAddressBoolean"
                  (ngModelChange)="resetShippingAddressDetailsForm()"
                ></p-radioButton>
                <label>I want to use a new address</label>
              </div>
            </div>
            <table *ngIf="!wantToUseExistingShippingAddressBoolean" summary="">
              <tbody>
                <tr>
                  <th scope="row">
                    <p>Address 1</p>
                  </th>
                  <td>
                    <input
                      type="text"
                      name="shippingaddress_1"
                      #shippingaddress_1="ngModel"
                      [(ngModel)]="shippingAddressForm.address_line_one"
                      placeholder="Address 1"
                      id="input-payment-company"
                      class="form-control"
                      [disabled]="billingAddressSameAsShippingAddress"
                      required
                    />
                  </td>
                  <div
                    *ngIf="shippingaddress_1.invalid && checkOnSubmit"
                    class="alert"
                  >
                    <div *ngIf="shippingaddress_1.errors?.['required']">
                      Shipping Address is required.
                    </div>
                  </div>
                </tr>
                <tr>
                  <th scope="row">
                    <p>Address 2</p>
                  </th>
                  <td>
                    <input
                      type="text"
                      name="shippingaddress_2"
                      [(ngModel)]="shippingAddressForm.address_line_two"
                      placeholder="Address 2"
                      id="input-payment-company"
                      class="form-control"
                      [disabled]="billingAddressSameAsShippingAddress"
                    />
                  </td>
                </tr>
                <tr>
                  <th scope="row">
                    <p>City</p>
                  </th>
                  <td>
                    <input
                      type="text"
                      name="shippingcity"
                      #shippingcity="ngModel"
                      [(ngModel)]="shippingAddressForm.address_city"
                      placeholder="City"
                      id="input-payment-company"
                      class="form-control"
                      [disabled]="billingAddressSameAsShippingAddress"
                      required
                    />
                  </td>
                  <div
                    *ngIf="shippingcity.invalid && checkOnSubmit"
                    class="alert"
                  >
                    <div *ngIf="shippingcity.errors?.['required']">
                      Shipping City is required.
                    </div>
                  </div>
                </tr>
                <tr>
                  <th scope="row">
                    <p>Country</p>
                  </th>
                  <td>
                    <p-dropdown
                      placeholder="Select a Country"
                      name="shippingshippingCountryList"
                      [options]="countryList"
                      [(ngModel)]="shippingAddressForm.address_country"
                      [disabled]="billingAddressSameAsShippingAddress"
                    ></p-dropdown>
                  </td>
                </tr>
                <tr>
                  <th scope="row">
                    <p>Region/State</p>
                  </th>
                  <td>
                    <input
                      type="text"
                      name="shippingstate"
                      #shippingstate="ngModel"
                      [(ngModel)]="shippingAddressForm.address_state"
                      placeholder="State"
                      id="input-payment-company"
                      class="form-control"
                      [disabled]="billingAddressSameAsShippingAddress"
                      required
                    />
                  </td>
                  <div
                    *ngIf="shippingstate.invalid && checkOnSubmit"
                    class="alert"
                  >
                    <div *ngIf="shippingstate.errors?.['required']">
                      Shipping state is required.
                    </div>
                  </div>
                </tr>
                <tr>
                  <th scope="row">
                    <p>Zip Code</p>
                  </th>
                  <td>
                    <input
                      type="text"
                      name="shippingzip_code"
                      #shippingzip_code="ngModel"
                      [(ngModel)]="shippingAddressForm.address_zip_code"
                      placeholder="Zip Code"
                      id="input-payment-company"
                      class="form-control"
                      [disabled]="billingAddressSameAsShippingAddress"
                      required
                    />
                  </td>
                  <div
                    *ngIf="shippingzip_code.invalid && checkOnSubmit"
                    class="alert"
                  >
                    <div *ngIf="shippingzip_code.errors?.['required']">
                      Zip Code is required.
                    </div>
                  </div>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!---->
      </form>
    </div>

    <div class="col-8 md:col-8 lg:col-8 sm:col-12 pr-0">
      <div class="right">
        <div class="checkout-section shipping-payment">
          <div class="section-shipping">
            <div class="title section-title">Shipping Method</div>
            <div class="section-body">
              <!---->
              <div>
                <div class="shippings">
                  <div class="ship-wrapper">
                    <div
                      *ngFor="let shippingMethod of shippingMethods"
                      class="field-checkbox"
                    >
                      <p-radioButton
                        name="group"
                        [(ngModel)]="selectedShippingMethod"
                        [value]="shippingMethod"
                        [inputId]="shippingMethod.name"
                        (ngModelChange)="setShippingCharges(shippingMethod)"
                      ></p-radioButton>
                      <label [for]="shippingMethod.name">{{
                        shippingMethod.name | titlecase
                      }}</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="section-payment">
            <div class="title section-title">Payment Method</div>
            <div class="section-body">
              <div
                *ngFor="let paymentMethod of paymentMethods"
                class="field-checkbox"
              >
                <p-radioButton
                  name="group"
                  [(ngModel)]="selectedPaymentMethod"
                  [value]="paymentMethod"
                  [inputId]="paymentMethod.name"
                ></p-radioButton>
                <label [for]="paymentMethod.name">{{
                  paymentMethod.name | titlecase
                }}</label>
              </div>
              <!---->
              <!-- <div>
                <i class="pi pi-home"></i>
                <div class="radio">
                  <label
                    ><input type="radio" name="payment_method" value="cod" />
                    <span>Cash On Delivery</span></label
                  >
                </div>
              </div>
              <div>
                <i class="pi pi-credit-card"></i>
                <div class="radio">
                  <label
                    ><input
                      type="radio"
                      name="payment_method"
                      value="apg_alfa"
                    />
                    <span
                      >Bank Alfalah Visa/Credit Cards Visa and Master
                      Gateway</span
                    ></label
                  >
                </div>
              </div>
              <div>
                <i class="pi pi-dollar"></i>
                <div class="radio">
                  <label
                    ><input
                      type="radio"
                      name="payment_method"
                      value="bank_transfer"
                    />
                    <span>Bank Transfer / JazzCash / Easypaisa</span></label
                  >
                </div>
              </div> -->
            </div>
          </div>
        </div>
        <div class="checkout-section section-cvr">
          <div class="title section-title">Coupon / Voucher / Reward</div>
          <div class="section-body">
            <div class="form-group form-coupon">
              <label for="input-coupon" class="control-label"
                >Enter your coupon here</label
              >
              <div class="input-group">
                <input
                  type="text"
                  placeholder="Enter your coupon here"
                  id="input-coupon"
                  class="form-control"
                />
                <span class="input-group-btn"
                  ><button
                    type="button"
                    data-loading-text="Processing..."
                    class="btn btn-primary"
                  >
                    <span>Submit</span>
                  </button></span
                >
              </div>
            </div>
          </div>
        </div>
        <div class="checkout-section cart-section">
          <div class="title section-title">Shopping Cart</div>
          <div class="section-body">
            <!---->
            <div class="table-responsive no-border-cc">
              <table class="table table-bordered">
                <thead class="hide-on-mob">
                  <tr class="hide-on-mob">
                    <td class="text-center td-image">Image</td>
                    <td class="text-left td-product">Product Name</td>
                    <!-- <td class="text-center td-model">Model</td> -->
                    <td class="text-center td-qty">Quantity</td>
                    <td class="text-right td-price">Unit Price</td>
                    <td class="text-right td-total">Total</td>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    class="checkout-cart-row"
                    *ngFor="let cartListItem of cartList"
                  >
                    <td class="text-center td-image">
                      <a href="#"
                        ><img
                          [src]="cartListItem.image"
                          [alt]="cartListItem.name"
                          [title]="cartListItem.name"
                          class="img-thumbnail"
                      /></a>
                    </td>
                    <td class="text-left td-product">
                      <a href="#">{{ cartListItem.name }}</a>
                    </td>
                    <!-- <td class="text-left td-model">8809540510213</td> -->
                    <td class="text-left td-qty">
                      <div
                        class="input-group btn-block"
                        style="max-width: 200px; justify-content: center"
                      >
                        <p-inputNumber
                          [showButtons]="true"
                          styleClass="quantity-number"
                          [min]="cartListItem.min_quantity"
                          [(ngModel)]="cartListItem.quantity"
                          (ngModelChange)="updateItem(cartListItem)"
                        ></p-inputNumber>
                      </div>
                    </td>
                    <td
                      data-text="Unit price"
                      class="text-right td-price cc-unitprice"
                    >
                      {{ currency }}
                      {{
                        (cartListItem.discount_price
                          ? cartListItem.discount_price
                          : cartListItem.price
                        ) | number : "1.2-2"
                      }}
                    </td>
                    <td
                      data-text="Total price"
                      class="text-right td-total cc-totalprice"
                    >
                      {{ currency }}
                      {{ cartListItem.total_price | number : "1.2-2" }}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <table class="table table-bordered summary-table">
              <tfoot>
                <tr>
                  <td colspan="7" class="text-right">
                    <strong>Sub-Total:</strong>
                  </td>
                  <td class="text-right">
                    {{ currency }} {{ cost.totalAmount | number : "1.2-2" }}
                  </td>
                </tr>
                <tr>
                  <td colspan="7" class="text-right">
                    <strong>Flat Shipping Rate:</strong>
                  </td>
                  <td class="text-right">{{ currency }} {{ shippingCost }}</td>
                </tr>
                <tr>
                  <td colspan="7" class="text-right">
                    <strong>Total:</strong>
                  </td>
                  <td class="text-right">
                    {{ currency }}
                    {{ cost.totalAmount + shippingCost | number : "1.2-2" }}
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
        <div
          class="checkout-section checkout-payment-details payment-cod"
          style="display: none"
        >
          <div class="title section-title">Payment Details</div>
          <div class="quick-checkout-payment">
            <div class="buttons">
              <div class="pull-right">
                <input
                  type="button"
                  value="Confirm Order"
                  id="button-confirm"
                  data-loading-text="Loading..."
                  class="btn btn-primary"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="checkout-section confirm-section">
          <div class="title section-title">Confirm Your Order</div>
          <div class="section-body">
            <div class="section-comments">
              <textarea
                placeholder="Add Comments About Your Order"
                class="form-control"
                [(ngModel)]="orderDetails.comment"
              ></textarea>
            </div>
            <div class="checkbox">
              <label
                ><input type="checkbox" />I wish to subscribe to the
                newsletter.</label
              >
            </div>
            <div class="checkbox">
              <label
                ><input
                  type="checkbox"
                  [(ngModel)]="termsAndConditionsChecked"
                />I have read and agree to the
                <a href="#" class="agree"
                  ><b>Terms &amp; Conditions</b></a
                ></label
              >
              <!---->

              <div
                *ngIf="!termsAndConditionsChecked && checkOnSubmit"
                class="alert"
              >
                You have to agree to terms and conditions.
              </div>
            </div>
            <div class="buttons confirm-buttons">
              <div class="pull-right">
                <button
                  type="button"
                  data-loading-text="<span>Confirm Order</span>"
                  id="quick-checkout-button-confirm"
                  class="btn btn-primary"
                  (click)="confirmOrder()"
                >
                  <span>Confirm Order</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="response; else loadingSpinner"></div>
<ng-template #loadingSpinner>
  <app-loading-spinner class="d-flex pt-4"></app-loading-spinner>
</ng-template>
