.swiper-slide {
    max-width: 270px;
    flex-shrink: 0;
    height: 100%;
    position: relative;
    // width: 276.6px;
    // margin-right: 24px;
    margin: 7px;
}

.swiper-slide img {
    width: 100%;
    image-rendering: -webkit-optimize-contrast;
}

.swiper-slide a img:hover {
    transition: 250ms linear; 
    box-shadow: rgba(255, 46, 71, 0.8) 0px 0px 0px 4px;    // border: 1px solid #ec048c;
}

a::after {
    // content: '';
    // position: absolute;
    // top: 0;
    // left: 0;
    // width: 100%;
    // height: 100%;
    // background: url(../../../../assets/main_brand_hover.png) no-repeat;
    // background-size: cover;
    // opacity: 0;
    // -khtml-transition: all 0.4s;
    // -moz-transition: all 0.4s;
    // -ms-transition: all 0.4s;
    // -o-transition: all 0.4s;
    // transition: all 0.4s;
}